{% extends "base.html.twig" %}
{% block content %}
    <table class="striped">
        <thead>
        <tr>
            {% for category in jeopardy.allCategories %}
                <th>{{ category|capitalize }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for value, row in jeopardy %}
            <tr>
                {% for item in row %}
                    <td>
                        <div class="card">
                            <div class="card-content">
                                <div ><strong>Value: </strong>{{ value }}</div>
                                <div ><strong>Answer:<br></strong>{{ item.answer }}</div>
                                <div><strong>Question:<br></strong>{{ item.question }}</div>
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
