{% extends "base.html.twig" %}
{% block content %}
    <table class="highlight centered">
        <thead>
        <tr>
            <th>Value</th>
            <th>PHP - General</th>
            <th>PHP - OOP</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>10</td>
            <td id="47" data-question="A Question" data-answer="The answer" class="hoverable" data-action="answer" onclick="handleItem(this)"><img src="question.jpg"></td>
            <td data-question="A Question" data-answer="The answer" class="hoverable"><img src="question.jpg"></td>
        </tr>
        <tr>
            <td>50</td>
            <td data-question="A Question" data-answer="The answer" class="hoverable"><img src="question.jpg"></td>
            <td data-question="A Question" data-answer="The answer" class="hoverable"><img src="question.jpg"></td>
        </tr>
        <tr>
            <td>100</td>
            <td data-question="A Question" data-answer="The answer" class="hoverable"><img src="question.jpg"></td>
            <td data-question="A Question" data-answer="The answer" class="hoverable"><img src="question.jpg"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}